/*common styles*/
body {
    background-color: F9F7F7;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5vw;
    color: #3F72AF;
    text-align:center;
    line-height: 120%;
}

nav, .navigation {
    text-align:right;
}

.container {
    width: calc(100vw-10px);
    margin: 0 auto;
}

.content {
    height:100%;
    box-sizing: border-box;
    padding:10px;
}

.navigation {
    height:20%;
    clear:both;
}

.small-column, .wide-column {
    float:left;
}

.small-column {
    width:40%;
}

.wide-column {
    width:60%;
}

h1, h2 {
    line-height:1.5;
}

h1 {
    font-size:3vw;
}

h2 {
    font-size:2vw;
}

h3 {
    font-size:1.5vw;
}

strong {
    color: #112D4E;
    font-weight: bold;
    text-transform: uppercase;
}

#header {
    background-color: #3F72AF;
    color: #F9F7F7;
    height: 20vw;
}

#photo {
    height: 100%;
    width: 40%;
    display: table-cell;
    text-align:center;
}

#photo, #welcome-text {
    float:left;
}

#photo img {
    height: 100%;
    border-radius:50%;
    vertical-align: middle;
}

#photo img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }

#welcome-text {
    height: 100%;
    width:60%;
    text-align:left;
    display:table;
}

#welcome-text h1 {
    display: table-cell;
    vertical-align: middle;
}

#welcome-text strong {
    font-size: 3.5vw;
}

#short-intro {
    clear:both;
}

#eng, #private {
    background-color: #DBE2EF;
}