/*common styles*/
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5vw;
    color:black;
    text-align:center;
    line-height: 120%;
}

nav, .navigation {
    text-align:right;
}

.container {
    height:auto;    
    width:100%;
}

.content, .navigation {
    width:90%;
    margin:0 auto;
}

.content {
    height:80%;
    padding:2%;
}

.navigation {
    height:20%;
    clear:both;
}

.small-column, .wide-column {
    float:left;
}

.small-column {
    width:40%;
}

.wide-column {
    width:60%;
}

h1, h2 {
    line-height:1.5;
}

h1 {
    font-size:3vw;
}

h2 {
    font-size:2vw;
}

h3 {
    font-size:1.5vw;
}

/*specific styles*/

#photo, #welcome-text {
    height:40%;
    float:left;
}

#photo {
    width:40%;
}

#photo img {
    height:auto;
    width:inherit;
    border-radius:50%;
}

#welcome-text {
    width:60%;
}

#short-intro {
    clear:both;
}

/*page backgrounds*/
#intro {

}

#eng {
    background-color:lightgrey;
}

#dev {
    background-color:tomato;
}

#private {
    background-color:aqua;
}